<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGC | Attendance Checker</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D71JH22H01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-D71JH22H01');
    </script>
    <style>
        body {
            background-image: linear-gradient(to right top, #9a9af9, #9f98fa, #a395fb, #a992fb, #ae8ffb, #949cff, #7ca7ff, #69b0ff, #49c3ff, #47d3f8, #65e1ec, #8cece0);
            
            display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
        }
        .container {
      
      font-family: "Azeret Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
        .form-control{
          width: 80%;
          margin: 0 auto;

        }
        @media (max-width: 767.98px) {
          .card{
            width: 85%;
            margin: 0 auto;
          }
        }
    </style>
    <script>
        // Function to set login credentials in local storage
        function setLoginCredentials() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            localStorage.setItem('username', username);
            localStorage.setItem('password', password);
        }

        // Function to retrieve login credentials from local storage
        function getLoginCredentials() {
            var username = localStorage.getItem('username');
            var password = localStorage.getItem('password');
            if (username && password) {
                document.getElementById('username').value = username;
                document.getElementById('password').value = password;
            }
        }

        // Function to handle form submission
        function handleSubmit() {
            var rememberMeCheckbox = document.getElementById('rememberMe');
            if (rememberMeCheckbox.checked) {
                setLoginCredentials();
            } else {
                localStorage.removeItem('username');
                localStorage.removeItem('password');
            }
            // Continue with form submission
            return true;
        }

        // Event listener to load login credentials when the page loads
        window.addEventListener('load', function() {
            getLoginCredentials();
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center">
              <img src="{{ url_for('static', filename='mgc-logo.png') }}" alt="Image" class="mb-4">
              <h2 class="mb-4 text-center">MGC ATTENDANCE CHECKER</h2>
                <div class="card">
                    <div class="card-body">
                        
                        <form id="login-form" action="{{ url_for('result') }}" method="post" onsubmit="return handleSubmit()">
                            <div class="mb-3">
                                <label for="username" class="form-label">USER ID</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="User ID">
                            </div>
                            <div class="mb-3">
                                <label for="DOB" class="form-label">PASSWORD</label>
                                <input type="date" id = "password" name="DOB" class="form-control datepicker" placeholder="Date of Birth">
                            </div>
                            <div class="mb-3 text-center">
                              <div class="form-check d-inline-block">
                                  <input type="checkbox" class="form-check-input" id="rememberMe">
                                  <label class="form-check-label" for="rememberMe">Remember me</label>
                              </div>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary">LOGIN</button>
                                
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfA45UHV-iKbm5YgiZzPOOm63y7_6swbX6Ql-8egltgK04ZsQ/viewform?usp=sf_link" class="text-decoration-none d-block mt-3">Review Us</a> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle (Popper.js included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
